*{
    margin: 0;
}
.container{
    width: 1080px;
    margin: 30px auto;
}
.pattern{
    height: 100px;
    background-color: rgb(18, 130, 243);
    background-image: url(img/pattern.png);
    background-size: contain;
}
#booleaner{
    width: 250px;
    padding-top: 20px;
    
}
.title{
    padding-top: 20px;
}
address{
    color: grey;
    font-style: normal;
    padding-bottom: 20px;
}
a{
    text-decoration: none;
}
address > div{
    font-size: 0.6rem;
}
.description{
    font-size: 10px;
}
.upper-main > div{
    font-size: 10px;
    padding-bottom: 20px;
}
.upper-main > p {
    padding-bottom: 20px;
}
.list{
    padding: 0.6rem;
}
table{
    padding-top: 10px;
}
tr:nth-of-type(1){
    background-color: rgb(55, 110, 174);
}
tr:nth-child(even) {
    background-color: #33c7c7;
  }
